@import "../variables";

#job_profiles_index_container{
  padding: 40px;
  width:100%;

  ul{
    list-style-type: none;
    padding:0;
  }

  li{
    margin-top: 20px;
  }
}

#job_profiles_index_header{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  h2, h3{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 40px;
  }
}

#job_profiles_index_header_titles{
  margin:0 auto;
}

#new_job_profile_link{

  a{
    display: block;
    background-color: $bleuvert;
    width: 50px;
    height:50px;
    margin:25px;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    font: 4rem $secondary_font;
    text-align:center;
    line-height: 45px;
    transition: all 0.2s;
  }

  a:hover{
    background-color: $light-bleuvert;
  }
}

.job_profile_card{
  display:block;
  padding:3px;
  border : 1px solid $grey200;
  background-color:$grey250;
  border-radius: 5px;
  color:rgb(46, 163, 157);
  text-decoration: none;
  transition: all 0.2s;
  text-overflow: ellipsis;
  width:100%;

  &:hover{
    box-shadow: 3px 3px 3px rgba(46, 163, 157, 0.199);
    margin-top: 2px;
    background-color: white;
    margin-bottom: 10px;
    color: $bleuvert;
  }
}

.display_none{
  display: none;
}

.blackout{
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 50%;
}
