<% if notice %>
  <div data-controller="notice" >
    <div class="notice" role="notification utilisateur" data-action="click->notice#close" data-notice-target="closeNoticeButton">
      <%= notice %>
    </div>
    <div id="blackout"></div>
  </div>
<% end %>
<% if alert %>
  <div class="alert" role="alerte utilisateur">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
