<div id="cachetons_banner">
</div>
<nav class="home_nav">
  <%= link_to "Login", companies_path %>
</nav>
<!-- ul>
  <%# @json.each do |call_for_project| %>
    <li class="card_call_for_projects">
      <h3><%#= link_to call_for_project["title"], call_for_project["url"] %></h3>
      <small>Deadline : <%#= call_for_project["deadline"] %></small>
      <p><%#= sanitize(call_for_project["summary"]) %></p>
    </li>
  <%# end %>
</ul>
