<div id="home_container">
  <div class="banner">
    <h1>Cachetons</h1>
    <!--a data-flickr-embed="true" href="https://www.flickr.com/photos/134085348@N05/29252103240/in/photolist-KHj8uu-LyUFaA-A2USUJ-JuHJ5r-PqkHUA-Bchnmd-HMbs2w-BRw5qi-yTSPcH-FsJjU7-oJVyaF-KrQ8Rp-2oKVovY-63GFQ3-CiwgVM-bTpBX2-2mj69xg-2netdr6-2mJJasW-2mXZSwq-2ocLYYH-LiRTip-2isuHeQ-21cpV1j-RjwsCF-2ncsVcX-9Q8Afh-2jX3dD3-2nDAWnn-2mc33aZ-2nLxLvj-FLPQW1-2cjD5nq-6xYT5m-BE2Qmn-2k7cYLh-2m5w4hw-2nKkTdt-3nECvx-2jp3SeJ-2o8axww-KpGf4U-2kXoD6a-Gobin3-2mdEQUX-2oM3Tdw-HeG2Zo-MbCMBm-2iCMSg1-paHHZh" title="Moonlight"><img src="https://live.staticflickr.com/8844/29252103240_7d9792b33c_b.jpg" width="1024" height="576" alt="Moonlight"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script-->
  </div>
  <nav id="home_nav">
    <%= link_to "Login", companies_path %>
  </nav>
</div>
