<div id="job_profiles_index_container">
  <div id="job_profiles_index_header" >
    <div id="job_profiles_index_header_titles">
      <h2>Vos modèles</h2>
      <h3>(IDCC 1285 : CCN Entreprises artistiques et culturelles)</h3>
    </div>
    <div id="new_job_profile_link">
      <%= link_to "+", new_job_profile_url %>
    </div>
  </div>
  <% if @job_profiles.present? %>
    <ul>
      <% @job_profiles.each do |job_profile| %>
        <li>
          <%= link_to job_profile_url(job_profile.id), class: "job_profile_card" do %>
            <%= "#{job_profile.name} ( #{job_profile.artist? ? "artiste" : "non-artiste"} #{job_profile.executive? ? "cadre" : "non-cadre"} )"%>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <strong class="there_is_noting_message">Pas de modèle enregistré.</strong>
  <% end %>
</div>
