$gray : #F4F4F4;
$bleuvert : rgb(46, 163, 157);
$light-bleuvert :rgb(117, 212, 208);
$ultralight-bleuvert : rgb(250, 255, 255);

$secondary_font : 'Prompt', serif;
$primary_font : 'Arvo', serif;

$t : 1px solid red;
$t2 : 1px solid green;
$t3 : 1px solid green;
