// External librairies
@import "font-awesome";

//Application SCSS
@import "payslips/index";
@import "payslips/show";
@import "home/index";
@import "companies/index";
@import "companies/show";
@import "devise/sessions/new";
@import "shared/navbar";
@import "variables";

body{
  display: flex;
  background-color: $ultralight-bleuvert;
  color:black;
  font: 1rem $secondary_font;
  margin : 0;
  height : 100vh;
}

h2{
  font: 2rem $primary_font;
}
