// External librairies
@import "font-awesome";

//Application SCSS
@import "payslips/index";
@import "payslips/show";
@import "home/index";
@import "companies/index";
@import "companies/show";

.body{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color:black;
}

.devise_container{
  border : 1px solid red;
  width:200px;
  margin: 0 auto;
}
