// External librairies
@import "font-awesome";

//Application SCSS
@import "companies/index";
@import "companies/show";
@import "devise/sessions/new";
@import "home/index";
@import "job_profiles/index";
@import "job_profiles/new";
@import "payslips/index";
@import "payslips/show";
@import "shared/navbar";
@import "shared/notice";
@import "variables";

body{
  display: flex;
  background-color: $ultralight-bleuvert;
  color:black;
  font: 1rem $secondary_font;
  margin : 0;
  min-height: 100vh;
}

.rendered_page{
  display: flex;
  width: 100%;
  justify-content: center;
}

h2{
  font: 2rem $primary_font;
}

.there_is_noting_message{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 40px;
}

.blackout{
  position: fixed;
  top:0;
  left:0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 50%;
}
