<div id="payslips_show_container">
  <h2>Edition d'un spectacle</h2>
  <%= simple_form_for([@company, @performance]) do |f| %>
    <%= f.input :name,      input_html: {placeholder: "Titre"}, label: false, required: true %>
    <%= f.input :num_objet, input_html: {placeholder: "Numéro d'objet"}, label: false, required: true %>
    <%= f.button :submit, "Sauvegarder", class: "company_create_form_button" %>
  <% end %>
</div>
